@import "app-variables";
@import "bootstrap/mixins";

@mixin background-opacity($color, $opacity: 0.6) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin clear() {
	overflow:hidden;
	clear:both;
	float:none;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin listener-tile-style() {
  border: 1px solid #d5d5d5;
  background-color: white;
}